In [1]:
import pandas as pd #импортируем бибилиотеки для работы с данными и применения методов машинного обучения
from sklearn.linear_model import Lasso
from sklearn.model_selection import KFold,GridSearchCV
import numpy as np

In [2]:
a=pd.ExcelFile('./2021-07-01_Testovye_zadania_kandidatam_1.xlsx')#парсим эксельку

In [3]:
df=a.parse('Задача_прогнозирование')

In [4]:
df#смотрим что в ней

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Постановка задачи,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Есть история продаж продукта.,NaN,NaN,NaN
4,NaN,NaN,А так же информация о прошлых промо событиях.,NaN,NaN,NaN
...,...,...,...,...,...,...
583,NaN,NaN,26/6/2021 Sat,NaN,0,NaN
584,NaN,NaN,27/6/2021 Sun,NaN,0,NaN
585,NaN,NaN,28/6/2021 Mon,NaN,0,NaN
586,NaN,NaN,29/6/2021 Tue,NaN,0,NaN
587,NaN,NaN,30/6/2021 Wed,NaN,0,NaN

поняв, что данные сильно загрязнены (есть лишние пустые кололнки и строки), решаю отчистить данные

In [5]:
df.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 5'],axis=1,inplace=True)#удаляю колонки

In [6]:
df=df.loc[9:,:]#удаляю лишние строки и переименовываю колонки
col_names=list(df.iloc[0,:])
df=df.iloc[1:,:]
df.rename(columns=dict(zip(df.columns,col_names)),inplace=True)
df.head()

             Дата Продажи Промо (проданные под промо объёмы в ШТ)
10  1/12/2019 Sun    1415                                       0
11  2/12/2019 Mon    1313                                       0
12  3/12/2019 Tue    1227                                       0
13  4/12/2019 Wed    1240                                       0
14  5/12/2019 Thu    1322                                       0

In [7]:
to_ex=df[df['Продажи'].isna()]#создаю датафрейм для импорта в эксель

In [8]:
df['Дата']=pd.to_datetime(df['Дата'])#парсим дату для того, чтобы передать ее в модель
df['День недели']=df['Дата'].dt.dayofweek
df['Месяц']=df['Дата'].dt.month
df['Неделя']=df['Дата'].dt.week

<ipython-input-8-9e7dcfe03a50>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['Неделя']=df['Дата'].dt.week

In [9]:
df.head()

,Дата,Продажи,Промо (проданные под промо объёмы в ШТ),День недели,Месяц,Неделя
10,2019-01-12,1415,0,5,1,2
11,2019-02-12,1313,0,1,2,7
12,2019-03-12,1227,0,1,3,11
13,2019-04-12,1240,0,4,4,15
14,2019-05-12,1322,0,6,5,19

In [10]:
sell_stats=df.groupby('Месяц').agg({'Продажи':sum})#группирую продажи по месяцам
total_sells=float(df.groupby('Месяц').agg({'Продажи':sum}).sum())#считаю суммарное количество продаж
sell_stats['Коэфициент Сезонности']=sell_stats['Продажи']/total_sells#добавляю коэфициент сезонности, рассчитанный по формуле количество продаж за месяц на обшее кол-во продаж
sell_stats.drop('Продажи',axis=1,inplace=True)
sell_stats

       Коэфициент Сезонности
Месяц
1                   0.099690
2                   0.101920
3                   0.124550
4                   0.126551
5                   0.082194
6                   0.050467
7                   0.065247
8                   0.057466
9                   0.056892
10                  0.060329
11                  0.062306
12                  0.112389

In [11]:
df=df.merge(sell_stats,on='Месяц')#добавляю коэфициенты к в таблицу

In [12]:
pred=df[df['Продажи'].isna()].drop('Продажи',axis=1)#инициалирую данные по которым буду предсказывать продажи

In [13]:
pred.head()

,Дата,Промо (проданные под промо объёмы в ШТ),День недели,Месяц,Неделя,Коэфициент Сезонности
56,2021-01-06,0,2,1,1,0.099690
108,2021-02-06,0,5,2,5,0.101920
165,2021-03-06,0,5,3,9,0.124550
220,2021-04-06,0,1,4,14,0.126551
273,2021-05-28,0,4,5,21,0.082194

In [14]:
df=df.dropna()#удаляю их из обучающей выборки

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 0 to 576
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Дата                                     547 non-null    datetime64[ns]
 1   Продажи                                  547 non-null    object
 2   Промо (проданные под промо объёмы в ШТ)  547 non-null    object
 3   День недели                              547 non-null    int64
 4   Месяц                                    547 non-null    int64
 5   Неделя                                   547 non-null    int64
 6   Коэфициент Сезонности                    547 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 34.2+ KB

In [16]:
X=df.drop(['Дата','Продажи'],axis=1)#создаем матрицу признаков
y=df['Продажи']#вектор целевых меток
clf=Lasso()#инициализирую модель
p_grid={'alpha':np.linspace(0.1,10,100),}#задаю сетку параметров
cv=KFold(shuffle=True)#стратегия кросс валидации
gsc=GridSearchCV(clf,param_grid=p_grid,cv=cv)#инициализирую алгоритм подбора параметров по сетке
gsc.fit(X,y)#обучаю модель
estimator=gsc.best_estimator_#выбираю лучшую

In [17]:
preds=estimator.predict(pred.drop('Дата',axis=1))#предсказываю число продаж

In [19]:
to_ex['Продажи']=preds#сохраняю их в датафрейм

In [20]:
to_ex.head()

              Дата      Продажи Промо (проданные под промо объёмы в ШТ)
554  28/5/2021 Fri  1291.032207                                       0
558   1/6/2021 Tue  1315.120055                                       0
559   2/6/2021 Wed  1338.614574                                       0
560   3/6/2021 Thu  1312.940531                                       0
561   4/6/2021 Fri  1281.705499                                       0

In [21]:
with pd.ExcelWriter("preds.xlsx") as writer:#сохраняю их в эксель
     to_ex.to_excel(writer)